@import url(./css/about.css);
@import url(./css/home.css);
@import url(./css/service.css);
@import url(./css/ourstaff.css);
@import url(./css/contect.css);

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --primary: #253993;
    --secondary: #ffdd00;
    --accent-color-light: #ffffff;
    --accent-color-dark: #000000;
    --p-color: #808285;
    --padding-inline-section: 20px
}

body {
    font-family: 'Open Sans', sans-serif;
    color: var(--accent-color-dark);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1.25rem;
    font-family: 'roboto', sans-serif;
    line-height: 1.8rem;
    color: var(--p-color);
}

a {
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style: none;
}


/* utility classes */

.container {
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
    overflow: hidden;
}

.flex {
    display: flex;
    align-items: center;
}

.hover-link {
    color: var(--primary);
    transition: 0.2s ease-out;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
}

.hover-link:hover {
    color: var(--accent-color-light);
}

.primary-button {
    background: var(--primary);
    color: var(--accent-color-light);
    padding: 10px 15px;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    border: 2px solid var(--primary);
}

.primary-button:hover {
    background-color: var(--accent-color-light);
    color: var(--primary);
    border: 2px solid var(--primary);
}

.secondary-button {
    background: var(--accent-color-light);
    border: 1px solid var(--primary);
    color: var(--primary);
    padding: 10px 15px;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
}

.secondary-button:hover {
    background-color: var(--primary);
    color: var(--accent-color-light);
}

span{
    width: 60px;
    height: 4px;
    background-color: var(--secondary);
}

/* header */

header {
    justify-content: space-between;
    padding: 20px 50px;
}

.menubar ul {
    justify-content: space-between;
    gap: 30px;
}




/* footer */

footer{
    background-color: var(--primary);
    color: #fff;
    padding: 50px;
}

footer .container{
    justify-content: space-between;
    align-items: first baseline;
    gap: 10px;
}
footer .item{
    width: 24%;
}

footer .item h3{
    color: var(--accent-color-light);
    margin-bottom: 10px;
}

footer .item h4{
    color: var(--accent-color-light);
    font-weight: 100;
    padding: 10px 0;
}

footer .item1 h4{
    padding: 10px 0;
}

footer .social{
    display: flex;
    gap: 20px;
}

.subfooter .footer-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--p-color);
    background-color: var(--primary);
    color: #fff;
    padding: 20px 40px;
}

.footer-2 h4 {
font-weight: 400;
color: var(--accent-color-light);
}









